<header class="masthead">
    <div>
        <nav class="navbar navbar-dark bg-dark navbar fixed-top">
           <div class="img-bustec"><img src="/Imagens/onibus.png" width="40" height="40" >  BUSTEC</div>

            <div class="dropdown">
                <button class="dropdown-toggle botoes-navegacao" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aluno
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Cadastrar</a>
                    <a class="dropdown-item" href="#">Atualizar</a>
                    <a class="dropdown-item" href="#">Listar</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle botoes-navegacao" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rota
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Cadastrar</a>
                    <a class="dropdown-item" href="#">Atualizar</a>
                    <a class="dropdown-item" href="#">Listar</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle botoes-navegacao" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Onibus
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Cadastrar</a>
                    <a class="dropdown-item" href="#">Atualizar</a>
                    <a class="dropdown-item" href="#">Listar</a>
                </div>
            </div>

            <a class="nav-link" href="">Sair</a>
        </nav>
    </div>
</header>