<header class="masthead">
    <div>
        <nav class="navbar navbar-dark bg-dark navbar fixed-top">
           <div class="img-bustec"><img src="/Imagens/onibus.png" width="40" height="40" >  BUSTEC</div>
            <a id="barra_navegacao_aluno" class="nav-link" href="">Aluno </a>
            <a class="nav-link" href="">Rota </a>
            <a class="nav-link" href="">Ponto</a>
            <a class="nav-link" href="">Onibus</a>
            <a class="nav-link" href="">Sair</a>
        </nav>
    </div>
</header>