<header class="masthead">
    <div>
        <nav class="navbar navbar-dark bg-dark navbar fixed-top">
           <div class="img-bustec" id="img-bustec"><img src="/Imagens/onibus.png" width="40" height="40" > <a href="/">BUSTEC </a></div>

            <div class="nav-link">
                <a id="listar-alunos" href="/aluno/listar-todos">Aluno</a>
            </div>

            <div class="nav-link">
                <a id="listar-onibus" href="/onibus/listar-todos">Ônibus</a>
            </div>

            <div class="nav-link">
                <a id="listar-ponto"  href="/ponto/listar-todos">Ponto</a>
            </div>

            <div class="nav-link">
                <a id="listar-rota" href="/rota/listar-todos">Rota</a>
            </div>

            <div class="nav-link">
                <a id="botao-logout" href="">Sair</a>
            </div>
        </nav>
    </div>
</header>