{% extends 'Base/base.html.twig' %}

{% block corpo %}

    <section class="nav_top">
        <div class="h1_geral"><h1>Atualizar dados do aluno</h1></div>
    </section>


    <section class="section_top">
        <div class="h2_geral form-group col-md-12"><h2>Dados cadastrais</h2></div>
    </section>


    <form class="cover-conteiner-form">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome_aluno">Nome: </label>
                <input type="text" class="form-control" id="nome_aluno-atualizar" placeholder="Digite o nome">
            </div>

            <div class="form-group col-md-3">
                <label for="numero_aluno">Número para contato: </label>
                <input type="number" class="form-control" id="numero_aluno-atualizar" placeholder="Digite o número para contato">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email_aluno">Email: </label>
                <input type="text" class="form-control" id="email_aluno-atualizar" placeholder="Digite o email">
            </div>

           <div class="form-group col-md-3" >
                <label for="ra_aluno">RA: </label>
                <input type="text" class="form-control" id="ra_aluno-atualizar" placeholder="Digite o RA">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="bairro_aluno">Bairro: </label>
                <input type="text" class="form-control" id="bairro_aluno-atualizar" placeholder="Digite o bairro">
            </div>

            <div class="form-group col-md-3">
                <label for="rua_aluno">Rua: </label>
                <input type="text" class="form-control" id="rua_aluno-atualizar" placeholder="Digite a rua">
            </div>

            <div class="form-group col-md-1">
                <label for="numero_casa_aluno">Nº: </label>
                <input type="number" class="form-control" id="numero_casa_aluno-atualizar" placeholder="Ex.4">
            </div>

            <div class="form-group col-md-3 select-options">
                <label for="escolha_onibus">Ônibus: </label>
                <select class="custom-select escolha-onibus">
                    <option selected>Selecione o ônibus</option>
                    {% for onibus in AllOnibus %}
                        <option value="{{ onibus.id }}">{{ onibus.placa }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button id="salvar-aluno-atualizar" type="submit" class="btn btn-success">Salvar</button>
        <button id="limpar-aluno-atualizar" type="submit" class="btn btn-danger">Limpar</button>
    </form>

{% endblock %}