{% extends 'Base/base.html.twig' %}

{% block corpo %}


    <div class="box-header with-border">
        <section class="nav_top">
            <div class="h1_geral">
                <h1>Atualizar dados do ônibus</h1>
            </div>
        </section>
    </div>

    <section class="section_top">
        <div class="h2_cadastro">
            <h2>Dados cadastrais</h2>
        </div>
    </section>


    <form class="cover-conteiner-form">
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="nome_motorista_onibus-atualizar">Nome do motorista responsavel: </label>
                <input type="text" class="form-control" id="nome_motorista_onibus-atualizar" placeholder="Digite o nome do motorista responsavel">
            </div>

            <div class="form-group col-md-4">
                <label for="numero_placa_onibus-atualizar">Placa: </label>
                <input type="text" class="form-control" id="numero_placa_onibus-atualizar" placeholder="Digite o número da placa do onibus">
            </div>


        </div>

        <button id="salvar-onibus-atualizar" type="submit" class="btn btn-success">Salvar</button>
        <button id="limpar-onibus-atualizar" type="submit" class="btn btn-danger">Limpar</button>
    </form>

{% endblock %}